<% provide(:title, "Items") %>

<h1>Listing items</h1>

<table class="item-list">
  <tr>
    <th>Item Name</th>
    <th>Price</th>
    <th><%= link_to "Add New Item", new_item_path(), :class => "btn" %></th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td class="fit-width">
        <%= link_to "Edit", edit_item_path(item.id), :class => "btn" %>
        <%= link_to "Delete", item_path(item.id), :method => :delete, :class => "btn", :data => {:confirm => "Are you sure?"} %>  
      </td>
    </tr>
  <% end %>
</table>
